  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2>FB Posts</h2>
        <% @fb_links.each do |fblink| %>
          <div class="row">
            <div class="col-md-3"><p><%= link_to image_tag(fblink['picture']) if fblink['picture'] %></p></div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <p><%= link_to fblink['name'], fblink['link'] %></p>
              <p><%= fblink['caption'] %></p>
              <p><%= fblink['message'] %></p>
              <p>Posted by <%= link_to fblink['from']['name'], "http://facebook.com/"+ fblink['from']['id'] %>
            </div>
          </div>
          <hr/>
        <% end %>
      <h2> Posts </h2>
      <% @posts.each do |post| %>
          <p><%= post.description %></p>
      <% end %>
    </div>
  </div>
  <%else%>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="jumbotron">
       <h1>Welcome to Browntown Reddit</h1>
       <p>You wanna seee this shit - sign up or sign in</p>
       <p>
         <a class="btn btn-lg btn-primary" href="/auth/login" role="button">Sign In</a> <a class="btn btn-lg btn-success" href="/auth/register/sign_up" role="button">Sign Up</a>
         <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
       </p>
     </div>
   </div>
   <div class="col-md-1"></div>
 </div>
 <%end%>
