  <button  id="show_post_form" class="btn btn-primary">Share Something</button>
  <%= render 'layouts/errors' if flash[:errors] %>

  <div id="post_form">
    <br/>


    <ul class="nav nav-tabs">
      <li class="active"><a href="#message" data-toggle="tab">Message</a></li>
      <li><a href="#link" data-toggle="tab">Link</a></li>
      <li><a href="#video" data-toggle="tab">Video</a></li>
      <li><a href="#image" data-toggle="tab">Image</a></li>
    </ul>

    <div class="tab-content">


    <div class="tab-pane active" id="message">
      <div class="row">
        <div class="col-md-5">
          <br/>
          <%= form_for [@wall, @post] do |f| %>
            <div class="form-group">
              <%= f.label :description %><br/>
              <%= f.text_area :description , :cols => "60", :rows => "3" %>
            </div>
            <%= f.submit "Create Post", :class => 'btn btn-success'  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="link">
     <div class="row">
       <div class="col-md-5">
        <br/>
        <%= form_for [@wall, @post] do |f| %>
          <div class="form-group">
            <%= f.label :link %><br/>
            <%= f.url_field :link %>
          </div>
          <div class="form-group">
            <%= f.label "Description" %><br/>
            <%= f.text_area :description , :cols => "60", :rows => "3" %>
          </div>
          <%= f.submit "Create Post", :class => 'btn btn-success'  %>
        <% end %>
       </div>
     </div>
    </div>


    <div class="tab-pane" id="video">
     <div class="row">
       <div class="col-md-5">
        <br/>
        <%= form_for [@wall, @post] do |f| %>
        <div class="form-group">
          <%= f.label :video_url %><br/>
          <%= f.url_field :video_url %>
        </div>
          <div class="form-group">
            <%= f.label "Description" %><br/>
            <%= f.text_area :description , :cols => "60", :rows => "3" %>
          </div>
          <%= f.submit "Create Post", :class => 'btn btn-success'  %>
        <% end %>
       </div>
     </div>
    </div>


    <div class="tab-pane" id="image">
     <div class="row">
       <div class="col-md-5">
        <br/>
        <%= form_for [@wall, @post] do |f| %>
        <div class="form-group">
          <%= f.label "Caption" %><br/>
          <%= f.text_area :description , :cols => "60", :rows => "3" %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        <%= f.submit "Create Post", :class => 'btn btn-success'  %>
        <% end %>
      </div>
     </div>
    </div>



    </div>
  </div>







