
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <% @membership.last_visit_time = Time.now %>
      <% @membership.save %>


    <!-- This Renders All 4 Tabs of the Post Form -->

    <button  id="show_post_form" class="btn btn-primary">Share Something</button>
    <%= render 'layouts/errors' if flash[:errors] %>
    <div id="post_form">
      <br/>
      <ul class="nav nav-tabs">
        <li ><a href="#tab1" data-toggle="tab">Home</a></li>
        <li><a href="#tab2" data-toggle="tab">Profile</a></li>
        <li><a href="#tab3" data-toggle="tab">Messages</a></li>
        <li><a href="#tab4" data-toggle="tab">Settings</a></li>
      </ul>

      <div class="tab" id="tab1">
          <br/>
          <div class="row">
            <div class="col-md-5">
              <%= form_for [@wall, @post] do |f| %>
                <div class="form-group">
                  <%= f.label :description %><br/>
                  <%= f.text_area :description , :cols => "60", :rows => "3" %>
                </div>
                <%= f.submit "Create Post", :class => 'btn btn-success'  %>
              <% end %>
            </div>
          </div>
      </div>

      <div class="tab" id="tab2">
          <br/>
          <div class="row">
            <div class="col-md-5">
              <%= form_for [@wall, @post] do |f| %>
                <div class="form-group">
                  <%= f.label "YouTube Embed Code" %><br/>
                  <%= f.text_area :description , :cols => "60", :rows => "3" %>
                </div>
                <%= f.submit "Create Post", :class => 'btn btn-success'  %>
              <% end %>
            </div>
          </div>
      </div>

      <div class="tab" id="tab3">
        <br/>
        <div class="row">
          <div class="col-md-5">
            <%= form_for [@wall, @post] do |f| %>
              <div class="form-group">
                <%= f.label :link %><br/>
                <%= f.url_field :link %>
              </div>
              <div class="form-group">
                <%= f.label "Description" %><br/>
                <%= f.text_area :description , :cols => "60", :rows => "3" %>
              </div>
              <%= f.submit "Create Post", :class => 'btn btn-success'  %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab" id="tab4">
          <br/>
          <div class="row">
            <div class="col-md-5">
              <%= form_for [@wall, @post] do |f| %>
                <div class="form-group">
                  <%= f.label "Caption" %><br/>
                  <%= f.text_area :description , :cols => "60", :rows => "3" %>
                </div>
                <div class="form-group">
                  <%= f.label :image %>
                  <%= f.file_field :image, class: "form-control" %>
                </div>
                <%= f.submit "Create Post", :class => 'btn btn-success'  %>
              <% end %>
            </div>
          </div>
      </div>

    </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br/><br/>

  <!-- This Renders All of the Posts in the Group -->

  <% if @posts.length == 0 %>
    <p>No posts yet</p>
  <%else%>
  <% @posts.each do |post| %>
    <div class="row">
        <div class="col-md-1"></div>

        <!-- This is the Voting Section-->

        <div class="col-md-2">

            <%= link_to image_tag('http://www.icondig.com/data/icons/nounproject/512/330.png', :width => "50px", :height => "50px"), votes_path(:post_id => post.id), remote: true, method: :post, :class => 'vote-post' %>
            <p class="display-vote-count"><%= pluralize(post.votes.count, 'Vote') %></p>
        </div>

        <!-- This is the Post Content Section-->

        <div class="col-md-6">
            <% if post.image_file_name != nil %>
              <a href="<%=post.image.url%>"><%= image_tag post.image.url(:medium) %></a>
            <% end %>
            <% if post.link %>
              <a href="<%=post.link%>" target="_blank">View Link</a>
            <%end%>
            <p><%=post.description%></p>
        </div>

        <!-- This is the User Info Section-->

        <div class="col-md-2 post-info">
            <% if post.user_id %>
              <% user = User.find(post.user_id) %>
              <p>Posted by: <%=user.name%></p>
            <%end%>
            <%formatted_date = post.created_at.strftime('%b %d %Y at %H:%M')%>
            <p><%=formatted_date%></p>
            <% wall = Wall.find(post.wall_id) %>
            <% comments = post.comments.length.to_s + " comments" %>
            <p><%= link_to comments, wall_post_path(wall, post)%></p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr/>
    <%end%>
    <%end%>

    <!-- This is the Pagination Section-->


    <div class="center">
       <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>


