<% if @posts.length == 0 %>
  <p>No posts yet</p>
<%else%>
<% @posts.each do |post| %>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
          <img class="vote" data-id="<%=post.id%>" src="http://www.icondig.com/data/icons/nounproject/512/330.png" height="50" width="50"/>
          <p class="vote-count-<%=post.id%>"><%=post.vote_count%> Votes</p>

      </div>
      <div class="col-md-6">
          <h3><%=post.title%></h3>
          <% if post.link %>
          <a href="<%=post.link%>" target="_blank">View Link</a>
          <%end%>
          <p><%=post.description%></p>
      </div>
      <div class="col-md-2 post-info">
          <% if post.user_id %>
            <% user = User.find(post.user_id) %>
          <%end%>
          <% if post.user_id %>
            <p>Posted by: <%=user.name%></p>
          <%else%>
            <p>Posted by <%=post.anon_name%></p>
          <%end%>
          <%formatted_date = post.created_at.strftime('%b %d %Y at %H:%M')%>
          <p><%=formatted_date%></p>
          <% wall = Wall.find(post.wall_id) %>
          <% comments = post.comments.length.to_s + " comments" %>
          <p><%= link_to comments, wall_post_path(wall, post)%></p>
      </div>
      <div class="col-md-1"></div>
    </div>
    <hr/>
  <%end%>
  <%end%>