<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

  <% url = request.protocol + request.host + request.path %>
  <% /(?<before>walls\/)(?<current_wall_id>\d+)/ =~ url %>
  <% current_wall_id %>


  <p class="visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="list-group">
    <div class= "<%= 'active' if url == "http://localhost/" %> list-group-item">
      <%= link_to "Home", root_path%>
    </div>
    <% if @user_walls_accessible.length == 0 %>
      <%= link_to "Create a Wall", new_wall_path, class: "list-group-item" %>
    <% end %>



    <% @user_walls_accessible.each do |wall| %>
      <% membership = Membership.where(user_id: current_user.id, wall_id: wall.id) %>
      <% new_posts = wall.posts.where("created_at > ?", membership.first.last_visit_time) if membership %>
      <% notification_count = new_posts.length if new_posts %>

      <div class= "<%= 'active' if current_wall_id == wall.id.to_s %> list-group-item wall-link-<%= wall.id.to_s %>">

        <%= link_to wall.name, wall_path(wall)%>
        <% if notification_count & notification_count > 0 %>
          <span class="notification_count"><%= notification_count %> </span>
        <% end %>
      </div>
    <%end%>


  </div>



</div><!--/span-->


