<!DOCTYPE html>
<html>
<head>
  <title>Hackernewsclone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "normalize" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <% if user_signed_in? %>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <%= render 'layouts/sidebar' %>
        <div class="col-xs-12 col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
